@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  margin: 0 20px;

  @media (min-width: 780px) {
    margin: 0 auto;
    max-width: 1024px;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 780px) {
    flex-direction: row;
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 3px inset #000;
  margin: 0 auto;

  width: 321px;
  min-width: 321px;
  height: 321px;

  @media (min-width: 620px) {
    width: 456px;
    min-width: 456px;
    height: 456px;
  }
}

.cell.hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.border-top {
  border-top: 3px inset black;
}
.border-left {
  border-left: 3px inset black;
}

.completedSquare,
.completedRow,
.completedCol,
.completedSudoku {
  animation: completed 1s ease alternate;
}

@keyframes completed {
  0% {
    background-color: rgba(0, 223, 0, 0.534);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
